@font-face {
  font-family: marion-bold;
  src: url('../fonts/Marion-Bold.ttf');
}

h1, h2, h3, h4, h5, h6, .bold-text  {
  font-weight: bold;
}

h1  {
  font-size: 32px;
}

h2  {
  font-size: 24px;
}

h3  {
  font-size: 16px;
}

h4  {
  font-size: 12px;
}

.modal-content h4 {
  font-size: 20px;
}

h5  {
  font-size: 10px;
}

h6  {
  font-size: 8px;
}

a {
  cursor: pointer;
}

nav {
  height: 48px;
  line-height: 48px;
}

.right-space  {
  margin-right: 6px;
}

.brand-logo {
  margin-left: 10px;
  font-family: marion-bold, serif;
}

.unset-height {
  height: unset;
}

.horizontal-nav  {
  margin-top: 24px;
  border-bottom: 1px solid #cfd8dc;
}

.horizontal-nav a  {
  padding: 6px 16px;
  border: 1px solid transparent;
  border-bottom: 0;
  margin-bottom: -1px;
  color: #9e9e9e;
}

.horizontal-nav a.active-tab {
  border-color: #cfd8dc;
  background-color: white;
  border-radius: 3px 3px 0 0;
  color: #616161;
}

.round-container {
  padding: 12px 16px;
  border: 1px solid #cfd8dc;
  border-radius: 3px;
}

.notifications-container {
  padding: 0;
  border: 1px solid #cfd8dc;
  border-radius: 3px;
  background-color: #eceff1;
}

.vertical-nav a {
  display: block;
  width: 100%;
  background-color: white;
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 3px;
  color: #616161;
}

.vertical-nav a:link, .vertical-nav a:visited {
  background-color: white;
}

.vertical-nav a:hover, .vertical-nav a:active {
  background-color: #e0e0e0;
}

.vertical-nav a.active-tab {
  background-color: #00695c;
  color: white;
}

.counter  {
  background-color: #90a4ae;
  color: white;
  font-weight: normal;
  font-size: 12px;
  padding: 1px 6px;
  border-radius: 12px;
  margin-left: 6px;
}

.load-more  {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
}

.notifications-list {
  margin: 0;
}

.notifications-list li  {
  padding: 6px 10px;
  border-bottom: 1px solid #cfd8dc;
  background-color: white;
  color: #00695c;
}

.notifications-list li:last-child {
  border-bottom: none;
}

.notifications-list li a, li.new-announcement a {
  color: #00695c;
}

li.urgent-announcement, li.urgent-announcement a  {
  color: #c62828;
}

.select-circle  {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  border: 1px solid #00695c;
  margin-right: 8px;
}

.new-announcement .select-circle  {
  background-color: #00695c;
}

.urgent-announcement .select-circle {
  background-color: #c62828;
  border: 1px solid #c62828;
}

li.new-announcement {
  background-color: #e0f2f1;
}

li.urgent-announcement {
  background-color: #ffebee;
}

.problem-options {
  float: right;
  display: inline;
  margin: 0;
}

.problem-options li {
  display: inline;
  margin-left: 8px;
}

.problem-stats  {
  margin-top: 16px;
  text-align: center;
}

.author-name  {
  color: white;
  background-color: #b0bec5;
  padding: 2px 4px;
}

.small-stat, .comments {
  font-size: 12px;
}

.upvote {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 3px 0;
  border: 1px solid #cfd8dc;
  border-radius: 3px;
}

.upvote i {
  margin-right: 6px;
}

.upvoted, .upvoted a  {
  color: black;
}

.unvoted, .unvoted a  {
  color: #2196f3;
}

.comments ul {
  margin: 8px 0 0;
  padding: 0;
}

.comments li {
  border-bottom: 1px solid #cfd8dc;
  padding: 8px 0;
}

.comments li:last-child {
  border-bottom: none;
}

.comment-author, .comment-author a {
  color: #9e9e9e;
}

.comment-author i, .comment-author .author-name {
  margin-right: 6px;
}

.toggle-discussion  {
  border-bottom: 1px solid #cfd8dc;
}

.toggle-discussion h3  {
  margin: 12px 0;
}

.count  {
  font-size: 16px;
}

.underline-hover:link, .underline-hover:visited {
  text-decoration: none;
}

.underline-hover:hover, .underline-hover:active {
  text-decoration: underline;
}

.inline-list li  {
  float: left;
  margin-right: 48px;
}

.placeholder-form .input-field  {
  margin-top: 0;
}

.tabs {
  margin-bottom: 24px;
}

.top-border {
  border-top: 1px solid #cfd8dc;
}

.katex-preview  {
  padding: 8px 12px;
  background-color: #eceff1;
  border: 1px solid #cfd8dc;
  border-radius: 3px;
}

.clear-float {
  clear: both;
}

.alert  {
  display: block;
  width: 100%;
  padding: 6px;
  background-color: #ffebee;
  border: 1px solid #ffcdd2;
  border-radius: 3px;
}

.form-error-msg {
  color: #c62828;
}

.right-button-panel {
  float: right;
}

.right-button-panel a.btn, .right-button-panel button {
  margin-left: 16px;
}

.roster, .roster input[type="text"] {
  font-size: 12px;
}

.contests-list li {
  margin-bottom: 6px;
}

.contests-list li ul li {
  margin-bottom: 0;
}

.contests-list li ul {
  margin-left: 16px;
}

.spinner {
  width: 100%;
  margin-top: 24px;
  text-align: center;
}
